* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  border: 2px double #fff;
  padding: 20px;
  border-radius: 20px;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, rgb(118, 143, 244));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

body {
  background: rgb(95, 128, 215);
  background: radial-gradient(
    circle,
    rgba(95, 128, 215, 1) 0%,
    rgba(97, 101, 106, 1) 100%
  );
  /* background: radial-gradient(
    circle,
    rgba(7, 59, 196, 1) 64%,
    rgba(0, 212, 255, 1) 100%
  ); */
  color: #fff;
}

button {
  background: -webkit-linear-gradient(rgb(162, 156, 245), rgb(198, 242, 228));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px double #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: Arial;
  font-size: 1rem;
  outline: oldlace;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0.5rem;
}

button:hover {
  transform: scale(1.05);
  font-size: 1.1rem;
  transition: all 0.5s ease-in-out;
}

.author_list {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(216, 207, 207);
  margin-right: 10px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.notification {
  border: 1px solid #000;
  padding: 10px;
  /* background-color: rgb(167, 165, 165); */
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
}

.success {
  background-color: rgba(0, 255, 0, 0.5);
  color: #fff;
}

.blog-list {
  border: 2px double #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blogs {
  display: flex;
  flex-direction: column;
  color: rgb(216, 207, 207, 0.9);
  gap: 20px;
  flex-wrap: wrap;
}
